<!-- armRESTs - Robin Han, Aleksandra Koroza, Johnny Wong -->
<!-- Category template -->
{% extends "templateLog.html" %}
{% block title %} armRESTs {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <center> <h3>{{genre}} Movies</h3> </center>
  </div>
  <div class="row">
  {% for movie in movieDict %}
    {% if movie != "" %}
    <div class="col-md-3">
      <form action="/movie">
        <button class="btn btn-dark text-warning mb-1" type="submit" name="Submit" value={{movie['id']}}><b>{{movie['original_title']}}</b></button>
      </form>
      {% if movie['poster_path'] != None %}
      {% set poster = movie['poster_path'] %}
      {% set link = "https://image.tmdb.org/t/p/w500" + poster %}
      <img src = {{link}} height="200" width="130">
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}
