<!-- armRESTs - Robin Han, Aleksandra Koroza, Johnny Wong -->
<!-- Home page -->
{% extends "templateLog.html" %}
{% block title %} armRESTs {% endblock %}
{% block content %}
	<div class="container">
		<center> <h1> Now Trending </h1> </center>
	{% if trend %}
	<div class="row">
	{% for movie in trend %}
		{% if movie != "" %}
		<div class="col-md-3">
			<p>{{movie['original_title']}}</p>
			{% set poster = movie['poster_path'] %}
			{% set link = "https://image.tmdb.org/t/p/w500" + poster %}
			<img src = {{link}} height="200" width="130">
		</div>
		{% endif %}
	{% endfor %}
	{% endif %}
	</div></div>
{% endblock %}
