<!-- armRESTs - Robin Han, Aleksandra Koroza, Johnny Wong -->
<!-- page generated for each reccomended movie -->
{% extends "templateLog.html" %}
{% block title %} armRESTs {% endblock %}

{% block content %}
<div class = "container">
  <center>
	<h2> {{ dict['title'] }} </h2>
	 {% if dict['poster_path'] != None %}
      {% set poster = dict['poster_path'] %}
      {% set link = "https://image.tmdb.org/t/p/w500" + poster %}
      <img src = {{link}} height="400" width="260">
      {% endif %}
    <br>
    <i> {{dict['tagline']}} </i>
    <br>
    <br>
    <br>
    <h3> Summary </h3>
	<p>{{ dict['overview'] }} </p>
	<h3> Runtime </h3>
	<p> {{ dict ['runtime']}} minutes</p>
	<h3> Trailer</h3>
  <iframe width="840" height="630"
    src={{trailer}}>
  </iframe>
	<h3> Reviews </h3>
  {%  if review != None %}
	{% for comment in review %}
  <p> {{comment['content']}}</p>
  <p>                        - {{comment['author']}}</p>
  {% endfor %}
  {% endif %}
  <!-- Display user comments tbd -->
 </center>
</div>
{% if logged_in %}
<!-- User comments and ratings -->
<div class = "container">
  <center>
    <p> You may leave a comment or rating in the space below </p>
    <form class="form-inline pl-4 pr-4 my-2 my-lg-0" action="/movie" method= "GET">
      <input id="comment" class="form-control form-control ml-4 mr-sm-2" type="search" name="entry" placeholder="Leave a comment" aria-label="Comment">
       <button class="btn btn-outline-info my-2 my-sm-0" type="submit" name="Submit" value="Comment">Submit</button>
    </div>
    <p> {{ comments }}</p>
    <h3> Space </h3>
    <p> more space </p>
 </center>
</div>
{% endif %}
{% endblock %}
