<!-- armRESTs - Robin Han, Aleksandra Koroza, Johnny Wong -->
<!-- Page displaying user profile if logged in-->
{% extends "templateLog.html" %}
{% block title %} armRESTs {% endblock %}
{% block content %}
<div class = "container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <h3> There are <b class="text-warning">{{count}}</b> movie theaters near you </h3>
      <br>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 border-top border-dark mb-5">
    {% for theather in theaters %}
    <p class="border-bottom border-dark"> <b class="text-info">{{theather['name']}}</b>
    <br>
    <b>Address</b>: {{theather['location']['address']['display_text']}}
    <br>
    <b>Telephone Number</b>: {{ theather['telephone']}}
    <br>
    {% if theather['website'] != None %}
      <b><a style="text-decoration:none;" class="text-warning" href={{theather['website']}}>Website</b></a>
      <br>
    {% endif %}
    </p>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
