<!-- armRESTs - Robin Han, Aleksandra Koroza, Johnny Wong -->
<!-- Page displaying user profile if logged in-->
{% extends "templateLog.html" %}
{% block title %} armRESTs {% endblock %}

{% block content %}
<div class = "container">
  <center>
    <p> Welcome {{ name }} ! </p>
    <p> Number of comments you have made: {{ movWithComment }} </p>
    <p> The following are the movies you've commented on: </p>
    <dl>
     {% for key, value in commentDict.items() %}
          <dt>{{ key }}</dt>
          <dd>{{ value }}</dd>
     {% endfor %}
   </dl>
    <p> The following are the movies you've upvoted: </p>
   {% for umovie in votedUp %}
   <p> {{ umovie }} </p>
   {% endfor %}
    <p> The following are the movies you've downvoted: </p>
    {% for dmovie in votedDown %}
    <p> {{ dmovie }} </p>
    {% endfor %}
    <br>
    <br>

 </center>
</div>
{% endblock %}
