<!-- armRESTs - Robin Han, Aleksandra Koroza, Johnny Wong -->
<!-- Creating account page -->
{% extends "template.html" %}
{% block title %} armRESTs {% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-auto">
    <form action="/authenticate" method="POST">
      <h2 class="text-info pb-2"><b>Create Account</b></h2>
          <div class="row pb-4">
            <div class="col">
              <input type="text" name="username" placeholder="Username" required>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col">
              <input type="password" name="password" placeholder="Password" required>
            </div>
          </div>
      <input class="btn btn-warning text-dark shadow mb-5" type="submit" name="submit" value = "Register">
    </form>
  </div>
</div>
{% endblock %}
