<!-- armRESTs - Robin Han, Aleksandra Koroza, Johnny Wong -->
<!-- feature allowing for login and logout-->
{% extends "template.html" %}
{% block login %}
<div class="navbar-collapse collapse " id="navbarSupportedContent">
{% if not logged_in %}
    <form id="navbarSupportedContent" class="form-inline ml-5 my-2 my-lg-0" action="/authenticate" method="POST">
           <a class="btn btn-outline-info ml-2" href="/register">Register</a>
    </form>
    <form id="navbarSupportedContent" class="form-inline ml-5 my-2 my-lg-0" action="/login" method="POST">
           <a class="btn btn-outline-info ml-2" href="/login">Login</a>
    </form>
{% endif %}
{% if logged_in %}
<!-- User Profile -->
<div>
<form class="form-inline my-2 my-lg-0" action="/profile">
  <input class="btn btn-outline-warning ml-4" type="submit" name="submit" value = "Profile">
</form>
</div>
<!-- Log Out -->
</div>
  <form class="form-inline my-2 my-lg-0" action="/logout">
    <input type="hidden" name="address" value="{{request.full_path}}">
    <input class="btn btn-outline-warning ml-4" type="submit" name="submit" value = "Log Out">
  </form>
{% endif %}
{% if not logged_in %}
</div>
{% endif %}
{% endblock %}
<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item"><span class="page-link">Previous</span></li>


  </ul>
</nav>
