<!-- armRESTs - Robin Han, Aleksandra Koroza, Johnny Wong -->
<!-- Basic template for all pages -->
<!DOCTYPE html>
<html>
  <head>
        {% block head %}
         <title>    {% block title %} {% endblock %}</title>
         <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
         {% endblock %}
         <style>
            .sidebar {
              width: 175px;
              position: fixed; /* Fixed location as you scroll*/
              font-size: x-large;
              z-index: 1;
              top: 0;
              bottom: 0;
              left: 0;
              overflow-y: scroll; /* categories scrollable */
            }
            #search {
              padding-right: 240px;
            }
            .container-fluid{
              padding-left: 175px;
              padding-right: 0px;
            }
          </style>
  </head>
  <body>
        <div class="container bg-white rounded">
          <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark flex-row">
              <!-- The navbar present at the top of our demo page -->
                 <a class="navbar-brand text-info" href="/"><b>armRESTs</b></a>
                 <!-- JavaScript is needed for the toggle to function properly in a tiny window where nav-items cannot be seen -->
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      <!-- Stuff can be done here!!! Add smaller versions of the navbar in here as a drop down, since we cannot use JS-->
                 </button>
                 <div class="navbar-collapse collapse ml-4 pl-4" id="navbarSupportedContent">
                      <!--<div class="navbar-nav mr-auto">
                           <ul class="navbar-nav mx-auto pl-4 pr-4">
                                <li class="nav-item pl-2"><a class="nav-link text-info" href="/about"><b>ABOUT</b></a></button></li>
                                <li class="nav-item pl-2"><a class="nav-link text-info" href="/contact"><b>CONTACT</b></a></li>
                                <li class="nav-item pl-2"><a class="nav-link text-info" href="https://groups.google.com/a/stuy.edu/forum/#!forum/softdev18-19"><b>QAF</b></a></li>
                           </ul>
                      -->
                           <!-- Search bar -->
                           <form class="form-inline pl-4 pr-4 my-2 my-lg-0" action="/search">
                             <input id="search" class="form-control form-control ml-4 mr-sm-2" type="search" name="entry" placeholder="Search for Movies" aria-label="Search">
                              <button class="btn btn-outline-info my-2 my-sm-0" type="submit" name="Submit" value="Search1">Go</button>
                              <button class="btn btn-outline-info ml-2 my-2 my-sm-0" type="submit" name="Submit" value="Search2">Mood</button>
                              <button class="btn btn-outline-info ml-2 my-2 my-sm-0" type="submit" name="Submit" value="Search3">Feeling Lucky?</button>
                            </form>
                  </div>

                      {% block login %}
                      {% endblock %}
                  </div>
            </nav>
          </div>
          <br><br><br>

        <!-- Side navbar for categories of movies -->
        <div class="wrapper">
          <nav class="sidebar bg-dark text-warning">
            <ul class="nav flex-column">
              <center>
              <li class="nav-item ml-auto mt-5 mb-1">
                <a class="nav-link disabled text-light"><b>Categories</b></a>
              </li>
                {% if sidebar %}
                  {% set first_page = 1 %}
                  {% if notIndex %}
                    {% if pages[0]|int > 5 %}
                      {% set first_page = (pages[0]|int - 1)|string %}
                    {% endif %}
                  {% endif %}
              	{% for genre in sidebar %}
              		{% if genre != "" %}
                    {% set genreName = genre['name']%}
                    <form action="/categories">
                      <input type="hidden" name="interval" value="{{first_page}}">
                      <input type='hidden' name='page' value='1'>
                      <button class="btn btn-dark text-warning" type="submit" name="Submit" value="{{genreName}}"><b>{{genre['name']}}</b></button>
                    </form>
              		{% endif %}
              	{% endfor %}
                <br>
              	{% endif %}
               </center>
            </ul>
          </nav>
        </div>

        {% set msgs = get_flashed_messages() %}{# program is now  aware there are flash messages #}
                {% for each in msgs %}{# Loops through messages #}
                <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="alert alert-warning text-center">
                          {{each}}
                        </div>
                      </div>
                  </div>
                </div>
                {% endfor %}

        {% block content %}

        {% endblock %}
        {% if movieQ %}
        <div class="container">
          <div class="row border-top border-dark d-flex justify-content-center">
            <h6 class="text-info pt-3 pb-1"><b>Pages</b></h6>
          </div>
        </div>
        <nav>
          <ul class="pagination justify-content-center mb-5">
            {% if notIndex %}
              {% set first_page = 1 %}
                {% if pages[0]|int > 5 %}
                  {% set first_page = (pages[0]|int - 1)|string %}
                {% endif %}
              {% for page in pages %}
                {% if page == pages[0] %}
                <form action="/page">
                  {% set prev_interval = 1 %}
                  {% if (page|int) > 10 %}
                    {% set prev_interval = (page|int) - ((page|int) % 5) - 5 %}
                  {% endif %}
                  <input type="hidden" name="interval" value="{{prev_interval}}">
                  <input type="hidden" name="genre" value="{{genre}}">
                  {% if page|int == 1 %}
                  <button class="btn btn-outline-info text-dark mr-3" type="submit" name="page" value="{{page}}">Prev 5</button>
                  {% else %}
                  <button class="btn btn-outline-info text-dark mr-3" type="submit" name="page" value="{{(page | int - 1) | string}}">Prev 5</button>
                  {% endif %}
                </form>
                {% endif %}
                <form action="/page">
                  <input type="hidden" name="interval" value="{{first_page}}">
                  <input type="hidden" name="genre" value="{{genre}}">
                  <input class="btn btn-outline-info text-dark ml-2 mr-2" type="submit" name="page" value="{{page}}">
                  {% if page == pages[4] %}
                  <button class="btn btn-outline-info text-dark ml-3" type="submit" name="page" value="{{((page|int) + 1)|string}}">Next 5</button>
                  {% endif %}
                </form>
              {% endfor %}
            {% endif %}
          </ul>
        </nav>
        {% endif %}
      </div>
      <footer class="-footer bg-dark fixed-bottom text-warning text-right ">&copy;armRESTs 2018 &mdash; Robin Han, Aleksandra Koroza, Johnny Wong</footer>
</body>
</html>
